:root {
  font-family: ui-sans-serif, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2937;
  background: #f9fafb;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-width: 360px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  font: inherit;
}
